# First look at Pandas

In [ ]:
import pandas as pd
import numpy as np

Series and DataFrames
---

In [ ]:
my_Series = pd.Series([1,'cat',10.2,'dog'])
my_Series

In [ ]:
my_Series[1]

In [ ]:
ages = pd.Series([20,53,68], index=['John', 'Allen', 'Mary'])
ages

In [ ]:
ages['Mary']

In [ ]:
df = pd.DataFrame({
    'user' : [1,2,3],
    'age' : [24,54,17],
    'sex' : ['F','F','M'],
    'occupation' : ['technician','musician','student']
})

In [ ]:
df

In [ ]:
df.set_index('user')

In [ ]:
df.info()

In [ ]:
df.index

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.describe()

Manipulating the data
---

In [ ]:
df = pd.DataFrame(np.arange(9).reshape(3,3), columns=['a','b', 'c'])

In [ ]:
df.drop(0, axis=0)

In [ ]:
df.drop([0,2], axis=0)

In [ ]:
df.drop(['b','c'], axis=1)

In [ ]:
df['a'] + df['b']

In [ ]:
df['a'].add(df['b'])

In [ ]:
df.add(df.loc[0:1,:])

In [ ]:
df.add(df.loc[0:1,:], fill_value=0)

In [ ]:
df1= pd.DataFrame([['Mark', 50], ['Kate', 46]],
                 columns=['name', 'age'])
df2 = pd.DataFrame([['Jon', 3], ['David', 4]],
                columns=['name', 'age'])

In [ ]:
pd.concat([df1,df2])

In [ ]:
df3 = pd.DataFrame(['writer', 'journalist'], columns=['occupation'])

In [ ]:
pd.concat([df1, df3], axis=1)

Indexing, selecting and filtering
---

In [ ]:
# We will work on a subset of the columns
columns = [
    'Mountain', 'Height (m)', 'Range', 'Coordinates', 'Parent mountain',
    'First ascent', 'Ascents bef. 2004', 'Failed attempts bef. 2004'
]

# Load the DataFrame, we will work on the first 10 rows (ten highest mountains)
df = pd.read_csv('Mountains.csv', nrows=10, usecols=columns)
df

In [ ]:
df.set_index('Mountain', inplace=True)
df

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.Range

In [ ]:
getattr(df, 'Height (m)')

In [ ]:
df['Height (m)']

In [ ]:
df[['Height (m)', 'Range', 'Coordinates']]

In [ ]:
df[2:8]

In [ ]:
df['Lhotse':'Manaslu']

In [ ]:
df.iloc[:, 2:6]

In [ ]:
df.iloc[::2, 2:]

In [ ]:
df.loc[:, 'Height (m)':'First ascent']

In [ ]:
df.loc[:, 'Height (m)':'First ascent':2]

In [ ]:
df['Parent mountain'] == 'Mount Everest'

In [ ]:
df[df['Parent mountain'] == 'Mount Everest']

In [ ]:
# Mountains with Mount Everest as parent with a first ascent after 1955
df[(df['Parent mountain'] == 'Mount Everest') & (df['First ascent'] > 1955)]

In [ ]:
df.loc[(df['Parent mountain'] == 'Mount Everest') & (df['First ascent'] > 1955), :]

In [ ]:
df.loc[(df['Parent mountain'] == 'Mount Everest') & (df['First ascent'] > 1955), 'Height (m)':'Range']

In [ ]:
col_criteria = [True, False, False, False, True, True, False]
df.loc[df['Parent mountain'] == 'Mount Everest', col_criteria]

Views vs copies
---

In [ ]:
df= pd.DataFrame({
    'user': [1,2,3],
    'age': [24,54,17],
    'sex': ['F','F','M'],
    'occupation': ['technician','musician','student']
})
df

In [ ]:
df[df.sex=='F']

In [ ]:
df[df.sex=='F'].sex

In [ ]:
df[df.sex=='F'].sex = 'Female'

In [ ]:
df.loc[df.sex=='F','sex'] = 'Female'
df

In [ ]:
df = pd.DataFrame( {
    'user': [1,2,3], 
    'age': [24,54,17], 
    'sex': ['F','F','M'], 
    'occupation': ['technician','musician','student']
})

In [ ]:
df2 = df.loc[df.sex=='F']

In [ ]:
df2.loc[0:1,'sex']='Female'

In [ ]:
df2 = df.loc[df.sex=='F'].copy()

In [ ]:
df2.loc[0:1,'sex']='Female'

Applying functions
---

In [ ]:
df = pd.DataFrame( {
    'user': [1, 2, 3], 
    'age': [24, 54, 17], 
    'sex': ['F', 'F', 'M'], 
    'occupation': ['technician', 'musician', 'student']
})

In [ ]:
df['sex'] = df['sex'].map({'F': 'Female', 'M': 'Male'})
df

In [ ]:
df['sex'].map({'Female': 1})

In [ ]:
df['sex'].replace('Female', '1')

In [ ]:
df2 = pd.DataFrame(
    data=np.arange(9).reshape(3, 3), columns=['a', 'b', 'c'])

In [ ]:
df2.apply(sum, axis=0)

In [ ]:
df2.apply(sum, axis=1)

In [ ]:
# Finds the maximum entry in each row
df2.apply(np.max, axis = 1)

In [ ]:
# Find the mean of each column
df2.apply(np.mean, axis = 0)

In [ ]:
def my_func(x):
    if x > 5:
        size = 'Large'
    elif x >3:
        size = 'Medium'
    else:
        size = 'Small'
    return size

In [ ]:
df2.applymap(my_func)

Sorting
---

In [ ]:
df = pd.DataFrame({'A':[3,6,1,12,3],'B':[0,0,7,5,6],'C':[10,4,5,8,2]})
df

In [ ]:
df.sort_index()

In [ ]:
df.sort_index(ascending=False)

In [ ]:
df.sort_index(ascending=False, axis=1)

In [ ]:
df['A'].sort_values()

In [ ]:
df.sort_values('A')

In [ ]:
df.sort_values(['A','C'])

Grouping
---

In [ ]:
df = pd.DataFrame({
       'A' : ['dog', 'cat', 'dog', 'cat', 'dog', 'cat', 'dog', 'dog'],
       'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
       'C' : np.random.randint(10, size=8)})

In [ ]:
df['C'].mean()

In [ ]:
df.groupby('A')['C'].mean()

In [ ]:
df.loc[df['A']=='dog','C'].mean()

Missing values
---

In [ ]:
df = pd.DataFrame(np.random.randint(10, size=(3, 3)), index=['a', 'c', 'e'], columns=['A', 'B', 'C'])

In [ ]:
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f'])

In [ ]:
df2

In [ ]:
df2.isnull()

In [ ]:
df2.isnull().sum()

In [ ]:
df2.isnull().sum(axis=1)

In [ ]:
df2[df2['A'].isnull()]

In [ ]:
df2.dropna()

In [ ]:
df2.fillna(value=0)