In [1]:
import numpy as np
import pandas as pd
import json
from pandas.io.json import json_normalize
import requests
from bs4 import BeautifulSoup

In [2]:
df = pd.read_csv('file.csv')
df

        a   b  c    d
0  yellow  10  2  3.2
1   green   2  3  8.1
2    blue   7  1  0.4

In [3]:
pd.read_csv('file.csv', header=None)

        0   1  2    3
0       a   b  c    d
1  yellow  10  2  3.2
2   green   2  3  8.1
3    blue   7  1  0.4

In [4]:
pd.read_csv('file.csv', names=['column 1', 'column 2', 'column 3', 'column 4'])

  column 1 column 2 column 3 column 4
0        a        b        c        d
1   yellow       10        2      3.2
2    green        2        3      8.1
3     blue        7        1      0.4

In [5]:
pd.read_csv('file.csv', index_col = 0)

         b  c    d
a
yellow  10  2  3.2
green    2  3  8.1
blue     7  1  0.4

In [6]:
df.dtypes

a     object
b      int64
c      int64
d    float64
dtype: object

In [7]:
df2 = pd.read_csv('file.csv', dtype = {'b' : np.float64})
df2.dtypes

a     object
b    float64
c      int64
d    float64
dtype: object

In [8]:
pd.read_csv('file.csv', usecols=['a', 'b'])

        a   b
0  yellow  10
1   green   2
2    blue   7

In [9]:
pd.read_excel('data.xls')

       varA      varB      varC
0  0.391723 -0.155122  0.381104
1  0.575125 -0.105817  0.232245
2  0.672305  0.424688 -0.694795
3  0.766115 -0.791350 -0.028739
4  0.677259 -0.817543 -0.537088
5 -0.029702 -0.891848 -0.682719
6 -0.161366 -0.659600 -0.727898
7  0.031672  0.016607 -0.940479
8  0.833212 -0.503236 -0.887210
9  0.907753  0.265177 -0.390762

In [10]:
pd.read_excel('data.xls', sheet_name='Sheet2')

       varD      varE      varF
0  0.907753  0.265177 -0.390762
1  0.755019 -0.768056 -0.528307
2  0.850692 -0.537159 -0.601387
3  0.131663  0.941327  0.240073
4  0.574400  0.091735 -0.395277
5  0.816630  0.875612 -0.880044
6  0.536732  0.175428 -0.473053
7 -0.084641 -0.042827  0.053344
8  0.268271 -0.010628 -0.090952
9  0.166792 -0.872579 -0.556899

In [11]:
pd.read_excel('data.xls', usecols = ['varA', 'varB'])

       varA      varB
0  0.391723 -0.155122
1  0.575125 -0.105817
2  0.672305  0.424688
3  0.766115 -0.791350
4  0.677259 -0.817543
5 -0.029702 -0.891848
6 -0.161366 -0.659600
7  0.031672  0.016607
8  0.833212 -0.503236
9  0.907753  0.265177

In [12]:
pd.read_json('frame.json')

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15

In [13]:
pd.read_json('books.json')

                                               books
0  {'isbn': '9781593275846', 'title': 'Eloquent J...
1  {'isbn': '9781449331818', 'title': 'Learning J...
2  {'isbn': '9781449365035', 'title': 'Speaking J...

In [14]:
with open('books.json', 'r') as f:
    json_string = f.read()
    dictionary = json.loads(json_string)

In [15]:
dictionary

{'books': [{'isbn': '9781593275846',
   'title': 'Eloquent JavaScript, Second Edition',
   'subtitle': 'A Modern Introduction to Programming',
   'author': 'Marijn Haverbeke',
   'published': '2014-12-14T00:00:00.000Z',
   'publisher': 'No Starch Press',
   'pages': 472,
   'description': 'JavaScript lies at the heart of almost every modern web application, from social apps to the newest browser-based games. Though simple for beginners to pick up and play with, JavaScript is a flexible, complex language that you can use to build full-scale applications.',
   'website': 'http://eloquentjavascript.net/'},
  {'isbn': '9781449331818',
   'title': 'Learning JavaScript Design Patterns',
   'subtitle': "A JavaScript and jQuery Developer's Guide",
   'author': 'Addy Osmani',
   'published': '2012-07-01T00:00:00.000Z',
   'publisher': "O'Reilly Media",
   'pages': 254,
   'description': "With Learning JavaScript Design Patterns, you'll learn how to write beautiful, structured, and maintainable JavaScript by applying classical and modern design patterns to the language. If you want to keep your code efficient, more manageable, and up-to-date with the latest best practices, this book is for you.",
   'website': 'http://www.addyosmani.com/resources/essentialjsdesignpatterns/book/'},
  {'isbn': '9781449365035',
   'title': 'Speaking JavaScript',
   'subtitle': 'An In-Depth Guide for Programmers',
   'author': 'Axel Rauschmayer',
   'published': '2014-02-01T00:00:00.000Z',
   'publisher': "O'Reilly Media",
   'pages': 460,
   'description': 'Like it or not, JavaScript is everywhere these days-from browser to server to mobile-and now you, too, need to learn the language or dive deeper than you have. This concise book guides you into and through JavaScript, written by a veteran programmer who once found himself in the same position.',
   'website': 'http://speakingjs.com/'}]}

In [16]:
json_normalize(dictionary, 'books')

,author,description,isbn,pages,published,publisher,subtitle,title,website
0,Marijn Haverbeke,JavaScript lies at the heart of almost every m...,9781593275846,472,2014-12-14T00:00:00.000Z,No Starch Press,A Modern Introduction to Programming,"Eloquent JavaScript, Second Edition",http://eloquentjavascript.net/
1,Addy Osmani,"With Learning JavaScript Design Patterns, you'...",9781449331818,254,2012-07-01T00:00:00.000Z,O'Reilly Media,A JavaScript and jQuery Developer's Guide,Learning JavaScript Design Patterns,http://www.addyosmani.com/resources/essentialj...
2,Axel Rauschmayer,"Like it or not, JavaScript is everywhere these...",9781449365035,460,2014-02-01T00:00:00.000Z,O'Reilly Media,An In-Depth Guide for Programmers,Speaking JavaScript,http://speakingjs.com/

In [17]:
page=requests.get('https://web.archive.org/web/20180908144902/en.proverbia.net/shortfamousquotes.asp')

In [18]:
page.text[0:100]

'\n<!DOCTYPE html>\n\n<html lang="en" xml:lang="en">\n<head><script src="//archive.org/includes/analytics'

In [19]:
page.status_code

200

In [20]:
soup = BeautifulSoup(page.text, 'html.parser')
quotes = soup.find_all('blockquote')
quotes[0].text

'There is a natural aristocracy among men. The grounds of this are virtue and talents. '

In [21]:
quote_list = []
for quote in quotes:
    string = quote.text
    quote_list.append(string)

df = pd.DataFrame(quote_list, columns = ['Quote'])
df

                                               Quote
0  There is a natural aristocracy among men. The ...
1  All our words from loose using have lost their...
2  God couldn't be everywhere, so he created moth...
3  Be not afraid of going slowly, be afraid only ...
4  Learn from yesterday, live for today, hope for...
5  Do not confine your children to your own learn...
6  I hear and I forget, I see and I remember. I d...
7            In teaching others we teach ourselves.
8  Happiness will never come to those who fail to...
9  Without His love I can do nothing, with His lo...

In [22]:
authors = soup.find_all('p', class_="a")
authors[0].text[1:-1]

'Thomas Jefferson (1743-1826) Third president of the United States.'

In [23]:
author_list =[]
for author in authors:
    string = author.text[1:-1]
    author_list.append(string)
    
df['Author']=author_list
df

,Quote,Author
0,There is a natural aristocracy among men. The ...,Thomas Jefferson (1743-1826) Third president o...
1,All our words from loose using have lost their...,Ernest Hemingway (1898-1961) American Writer.
2,"God couldn't be everywhere, so he created moth...",Jewish proverb
3,"Be not afraid of going slowly, be afraid only ...",Chinese proverb
4,"Learn from yesterday, live for today, hope for...",Unknown Source
5,Do not confine your children to your own learn...,Chinese proverb
6,"I hear and I forget, I see and I remember. I d...",Chinese proverb
7,In teaching others we teach ourselves.,Proverb
8,Happiness will never come to those who fail to...,Unknown Source
9,"Without His love I can do nothing, with His lo...",Unknown Source

In [24]:
tables = pd.read_html('https://world.openfoodfacts.org/additives')
print(len(tables))
print(tables[0].head())

1
                   Additive  Products   * Risk
0        E330 - Citric acid    135063 NaN  NaN
1          E322 - Lecithins     90869 NaN  NaN
2          E322i - Lecithin     82600 NaN  NaN
3  E500 - Sodium carbonates     57475 NaN  NaN
4        E415 - Xanthan gum     51024 NaN  NaN

In [25]:
tables = pd.read_html('https://en.wikipedia.org/wiki/World_record_progression_50_metres_freestyle')
print(len(tables))
print(tables[4].head())

9
   Pos   Time                   Swimmer              Date          Venue   Ref
0    1  20.91         Cesar Cielo (BRA)  17 December 2009         Brazil   NaN
1    2  20.94  Frederick Bousquet (FRA)     22 April 2009         France   NaN
2    3  21.04      Caeleb Dressel (USA)      27 July 2019    South Korea   NaN
3    3  21.04      Caeleb Dressel (USA)      20 June 2021          Omaha  [18]
4    4  21.11      Benjamin Proud (GBR)     3 August 2018  Great Britain   NaN

In [26]:
print(tables[-2].head())

   Pos  Swimmer                       Time              Date          Venue
0    1    22.93  Ranomi Kromowidjojo (NED)     7 August 2017        Germany
1    2    23.00       Sarah Sjöström (SWE)     7 August 2017        Germany
2    3    23.19        Cate Campbell (AUS)   27 October 2017         Russia
3    4    23.25     Marleen Veldhuis (NED)     13 April 2008  Great Britain
4    5    23.27    Therese Alshammar (SWE)  21 November 2009      Singapore

In [27]:
tables = pd.read_html('https://en.wikipedia.org/wiki/World_record_progression_50_metres_freestyle', match = "Switzerland")
print(len(tables))
print(tables[0][10:15][['Time', 'Name', 'Nationality']])

1
     Time          Name    Nationality
10  22.54   Robin Leamy  United States
11  22.52  Dano Halsall    Switzerland
12  22.40     Tom Jager  United States
13  22.33   Matt Biondi  United States
14  22.33   Matt Biondi  United States

In [28]:
# Load credentials
with open('client-credentials.json') as file:
    client_credentials = json.load(file)
    
print('Credentials:', list(client_credentials.keys()))

Credentials: ['client_id', 'client_secret']

In [29]:
print(client_credentials['client_id'])

71481

In [30]:
oauth_params = {
    'client_id': client_credentials['client_id'],
    'scope' : 'read_all,profile:read_all,activity:read_all',
    'redirect_uri': 'https://localhost',
    'response_type': 'code'
}

In [31]:
from urllib.parse import urlencode

# Generate link that users can copy/paste in their browser to authorize our app
print('https://www.strava.com/oauth/authorize' + '?' + urlencode(oauth_params))

https://www.strava.com/oauth/authorize?client_id=71481&scope=read_all%2Cprofile%3Aread_all%2Cactivity%3Aread_all&redirect_uri=https%3A%2F%2Flocalhost&response_type=code

In [32]:
from getpass import getpass

In [45]:
# After authorizing the app, user is redirected to
authorization_response = getpass(prompt='https://localhost/?state=&code=a2427b05201596e9e6f7e8db6414a0097a29d3bf&scope=read,activity:read_all,profile:read_all,read_all')

https://localhost/?state=&code=a2427b05201596e9e6f7e8db6414a0097a29d3bf&scope=read,activity:read_all,profile:read_all,read_all ······························································································································

In [46]:
from urllib.parse import urlparse, parse_qs

In [47]:
# Extract Authorization Code from URL
authorization_code = parse_qs(urlparse(authorization_response).query)['code'][0]

In [48]:
# Exchange Authorization Code for Access Token
r = requests.post('https://www.strava.com/oauth/token', data={
    'client_id': client_credentials['client_id'],
    'client_secret': client_credentials['client_secret'],
    'code': authorization_code,
    'grant_type': 'authorization_code'
})
r.status_code # 200

200

In [49]:
# Token saver
def token_saver(token_obj):
    with open('token.json', 'w') as file:
        json.dump(token_obj, file, indent=4)
        
token_saver(r.json())

In [50]:
# token loader
def get_token():
    with open('token.json', 'r') as file:
        return json.load(file)

token = get_token()
token.keys()

dict_keys(['token_type', 'expires_at', 'expires_in', 'refresh_token', 'access_token', 'athlete'])

In [51]:
print('Expires in:', token['expires_in']) # initially: 21600 (6 hours)
print('Expires at:', token['expires_at'])

Expires in: 20952
Expires at: 1632420865

In [52]:
# get date from UNIX timestamp (number of seconds since 1. Jan 1970)
from datetime import datetime, timedelta

In [53]:
print('Expires at:', datetime.fromtimestamp(token['expires_at']))
print('Expires in:', timedelta(seconds=token['expires_in']))

Expires at: 2021-09-23 20:14:25
Expires in: 5:49:12

In [54]:
# Refresh expired Access Tokens
requests.post('https://www.strava.com/oauth/token', data={
        'client_id': client_credentials['client_id'],
    'client_secret': client_credentials['client_secret'],
    'refresh_token': token['refresh_token'],
    'grant_type': 'refresh_token'
})

token_saver(r.json())
token = get_token()

In [55]:
# List activities
r = requests.get('https://www.strava.com/api/v3/athlete/activities', params={
    'access_token': token['access_token']
})
r.status_code

200

In [56]:
# save activities
with open('activities.json', 'w') as file:
    json.dump(r.json(), file, indent=4)

In [57]:
# Load data into DataFrame
activities_df = pd.read_json(r.text)
activities_df[['name', 'type', 'distance', 'elapsed_time', 'max_speed']]

                    name type  distance  elapsed_time  max_speed
0  Course à pied de nuit  Run         4             5        1.7

# Requests-oauthlib

In [58]:
# import library
from requests_oauthlib import OAuth2Session

In [59]:
# Create a session for initialization
init_session = OAuth2Session(
    client_credentials['client_id'],
    redirect_uri='https://localhost',
    scope='read_all,profile:read_all,activity:read_all')

In [60]:
# Get authorization link
user_link, state = init_session.authorization_url('https://www.strava.com/oauth/authorize')
print('Visit link:', user_link)

Visit link: https://www.strava.com/oauth/authorize?response_type=code&client_id=71481&redirect_uri=https%3A%2F%2Flocalhost&scope=read_all%2Cprofile%3Aread_all%2Cactivity%3Aread_all&state=57ixy2YKXdWEO4ZG6GpTmcQ8c5MEaZ

In [61]:
authorization_response = getpass(prompt='Full callback URL')

Full callback URL ····························································································································································

In [63]:
# Get Access Token
token = init_session.fetch_token(
    'https://www.strava.com/oauth/token',
    authorization_response = authorization_response,
    include_client_id = True,
    client_secret = client_credentials['client_secret'])

In [64]:
token_saver(token)

In [65]:
# Create a session for reaching the API
api_session = OAuth2Session(
    client_credentials['client_id'],
    token = token, # pass Access Token

    # Automatically refresh expired token
    auto_refresh_url = 'https://www.strava.com/oauth/token',
    auto_refresh_kwargs={
        'client_id': client_credentials['client_id'],
        'client_secret': client_credentials['client_secret']
    },
    token_updater = token_saver # automatically saves new tokens
)

In [66]:
# List activities
r = api_session.get('https://www.strava.com/api/v3/athlete/activities')
r.status_code

200

In [67]:
activities_df = pd.read_json(r.text)
activities_df[['name', 'type', 'distance', 'elapsed_time', 'max_speed']]

                    name type  distance  elapsed_time  max_speed
0  Course à pied de nuit  Run         4             5        1.7

# Stravalib

In [ ]:
from stravalib import Client

In [ ]:
# Create client
client = Client()

# Get Authorization URL
user_link = client.authorization_url(
    client_id = client_credentials['client_id'],
    redirect_uri = 'https://localhost',
    scope = ['read_all', 'profile:read_all', 'activity:read_all'])

print('Visit link:', user_link)